﻿
@{
    ViewData["Title"] = "Error";
}



<div class="col-md-12 mb-4" style="padding-top:40px">
    <div class="card card-image" style="background-image: url(https://i.pinimg.com/originals/22/05/68/220568ed4e83c98f2a390a0e3d92efb3.jpg);">
        
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" style="padding-bottom:20px">
            <div>

                <h3 style="padding:40px" class="card-title py-3 font-weight-bold"> <strong>OOPS! Something went wrong</strong></h3>
                <h3 style="padding:10px" class="card-title py-3 font-weight-bold">An error occured. Please try again.</h3>               
                  <button style="padding-bottom:10px" type="button" class="btn-lg btn-dark">Back</button>
            </div>
        </div>
    </div>
</div>