﻿@model LittleOakLibrary.SiteModels.AllRentalsSiteModel
@{
    ViewData["Title"] = "AllRentals";
}

<div class="panel-group" data-ride="carousel" data-interval="6000">
    <div class="panel-body">

        <div class="row" style="background-color:darkblue; color:azure; box-shadow: 4px 4px 25px grey; padding:40px">
            <h3> Library Books </h3>
        </div>
        @{
            foreach (var item in Model.RentalList)
            {
                <div class="row" style="color:black; padding:10px">
                    <div class="col-md-2">
                        <img width="150" style="box-shadow: 4px 4px 25px grey" src="@Url.Action("GetImage", new {bookId=item.BookId})" />
                    </div>
                    <div class="col-md-6" style="padding:5px; box-shadow: 4px 4px 25px grey">
                        <table class="table table-striped" style="table-layout:fixed">
                            @{
                                if (item.IsReturned)
                                {
                                    <tr>
                                        <td>Title: </td>
                                        <td>@item.BookName</td>
                                    </tr>
                                }
                                else
                                {
                                    if (item.DueDate < DateTime.Now)
                                    {
                                        <tr style="background-color: lightcoral">
                                            <td>Title: </td>
                                            <td>@item.BookName</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr style="background-color: orange">
                                            <td>Title: </td>
                                            <td>@item.BookName</td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td>Author:</td>
                                <td>@item.BookAuthor</td>
                            </tr>
                            <tr>
                                <td>Due Date:</td>
                                <td>@item.DueDate.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <td>Renter Name:</td>
                                <td>@item.RenterName</td>
                            </tr>
                            <tr>
                                <td>Renter Email:</td>
                                <td>@item.RenterEmail</td>
                            </tr>
                            <tr>
                                <td>Renter Phone Number:</td>
                                <td>@item.RenterPhoneNumber</td>
                            </tr>
                            @{
                                if (!item.IsReturned)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("ReturnBook", "Home",  new {rentalId = item.Id })">Register return</a>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>

