﻿@model LittleOakLibrary.SiteModels.IndexSiteModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-group" data-ride="carousel" data-interval="6000">
    <div class="panel-body">

        <div class="row" style="background-color:midnightblue; color:azure; box-shadow: 4px 4px 25px grey; padding:40px">
            <h1> Library Books </h1>
        </div>
        @{
            foreach (var item in Model.BookList)
            {
                <div class="row" style="color:black; padding:10px">
                    <div class="col-md-2" >
                        <img width="150" height="225" style="box-shadow: 4px 4px 25px grey" src="@Url.Action("GetImage", new {bookId=item.Id})" />
                    </div>
                    <div class="col-md-6" style="padding: 5px; box-shadow: 4px 4px 25px grey">
                        <table class="table table-striped" style="table-layout:fixed">
                            <tr>
                                <td>Title: </td>
                                <td>@item.Title</td>
                            </tr>
                            <tr>
                                <td>Author:</td>
                                <td>@item.Author</td>
                            </tr>
                            <tr>
                                <td>Year of Publishing:</td>
                                <td>@item.YearOfPublishing</td>
                            </tr>
                            <tr>
                                <td>ISBN:</td>
                                <td>@item.Isbn</td>
                            </tr>
                            <tr>
                                <td>Pieces available:</td>
                                <td>@item.PcsAvailable</td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("DeleteBook", "Home",  new {bookId = item.Id })">Delete Book</a>
                                </td>
                                <td>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>
