﻿@model LittleOakLibrary.ViewModels.NewBookSiteViewModel

@{
    ViewData["Title"] = "NewBook";
}

<h2>New book</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("NewBook", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-4"style="padding-top:5px">
                    Title:
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="Title" value="@Model.Title" />
                </div>
            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-4"style="padding-top:5px">
                    Author:
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="Author" value="@Model.Author" />
                </div>
            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-4"style="padding-top:5px">
                    Year:
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="number" name="YearOfPublishing" value="@Model.YearOfPublishing" />
                </div>
            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-4"style="padding-top:5px">
                    Publisher:
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="Publisher" value="@Model.Publisher" />
                </div>
            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-4"style="padding-top:5px">
                    Image Name:
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="ImageName" value="@Model.ImageName" />
                </div>
            </div>

            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-4" style="padding-top:5px">
                    Picture:
                </div>
                <div class="col-md-8">
                    <input style="padding-top:3px;" type="file" name="ImageToUpload" accept="image/png, image/jpeg" /> <br />
                </div>
            </div>


            <div class="col-md-pull-12" style="text-align:right; padding-top:10px;">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

