﻿@model LittleOakLibrary.ViewModels.NewRentalSiteViewModel

@{
    ViewData["Title"] = "View";
}

<h2>New Rental</h2>
<hr />

<div class="row">
    <div>

        @using (Html.BeginForm("NewRental", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-4">
                    Book:
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="BookId" name="BookId">
                        @{
                            foreach (var book in Model.Books) //book legyen selectedbbook és kell egy osszes lista
                            {
                                <option value="@book.Id">@book.Title</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Name:
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" name="Name" value="@Model.Name" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    E-mail address:
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="email" name="EmailAddress" value="@Model.EmailAddress" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    Phone no.:
                </div>
                <div class="col-md-4">
                    <input type="tel" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    Due date:
                </div>
                <div class="col-md-4">
                    <input type="datetime" class="form-control" name="DueDate" value="@Model.DueDate" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
